@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
body{
    font-family:Arial, sans-serif; /*O tipo da fonte*/
    background-color:#dddddd; /*Cor de fundo do site*/
    color:rgba(0,0,0,1); /*Cor da letra*/
}
div#interface{
    width:900px; /*Largura*/
    background-color:rgb(245, 247, 245); /*Cor de fundo da interface*/ 
    margin:-20px auto 10px auto; /*Margem, margem direita e esquerda automática*/
    box-shadow:0px 0px 10px rgba(0,0,0,.5); /*Sobreamento*/
    padding:10px; 
}
p{text-align: justify; /*Justifica o texto*/
    text-indent:50px; /*Identação*/}
a/*a é um link*/{
    color:#606060;
    text-decoration:none;
}
a:hover /*Hover é uma classe específica que fará o objeto aparecer quando passar o mouse por cima*/{
    text-decoration:underline;
}
header#cabecalho img#icone{
    position: relative;
    top:-50px;
    left:710px; /*Esquerda, segue próximo o da interface*/
}
header#cabecalho {
    border-bottom: 1px #606060 solid; /*Borda baixa*/
    height: 220px; /*Altura*/
    background: url("../imagens/logo.jpg") no-repeat 0px 120px ; /*Para inserir uma imagem de meus arquivos, deslocamento*/
}
header#cabecalho h1{
    font-family:'FonteLogo', sans-serif;
    font-size:30pt;
    color:#606060;
    text-shadow:1px 1px 1px rgba(0,0,0,.6);
    padding:0px; 
    margin-bottom:0px; 
    margin-top:-15px;
}
header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #96c3ec;
    font-size: 15pt;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    }
/*Formatção de imagens com legendas*/
figure.foto-legenda{
    position:relative;
    border:8px solid white;
    box-shadow:1px 1px 4px black;
}
figure.foto-legenda img{
    width:100%;
    height:100%
}
figure.foto-legenda figcaption{
    opacity:0;
    position:absolute;
    top:0px;
    background-color:rgba(0,0,0,.4);
    color:white;
    width:100%;
    height:100%;
    padding:10px;
    box-sizing:border-box;
    transition:opacity 1s; /*O tempo que irá levar para aparecer a opacidade*/
}
figure.foto-legenda:hover figcaption{
    opacity:1; /*Opacidade*/
}
/*Formatação do Menu*/
nav#menu {
    display:block; /*Irá exibir como um bloco, flutuar pela tela*/
    position: relative;
    right: -290px;
}
nav#menu ul{
    list-style:none; /*retira os marcadores inseridos*/
    text-transform:uppercase; /*Todas as letras ficam em maiusculas*/
    margin-top:0px; /*Configuração da posição absoluta*/
    text-align: center;
    margin-right: 250px;

}
nav#menu li {
    display: inline-block; /*Faz com que um bloco seja exibido em uma mesma linha*/
    background-color: #dddddd;
    padding: 10px; /*Cria um espaço dentro da caixa*/
    margin: 2px; /*Controla o espeço fora da caixa*/
    transition: background-color 1s; /*As transições monitora o tempo que irá levar o tempo de mudança*/
}
nav#menu li:hover{
    background-color:#96c3ec;
}
nav#menu h1{
    display:none; /*Esconde o item, visivel apenas pelos mecanismos de busca */
}
nav#menu a{
    color:#000000;
    text-decoration:none; /*Esconder sublinhado*/
}
nav#menu a:hover{
    color:#ffffff;
    text-decoration: underline; /*Quando passar o mouse ficará sublinhado*/
}
section#corpo{
    display:block; /*Será mostrado como um bloco*/
    width:500px;
    float:left; /*Flutuar á esquerda*/
    border-right:1px solid #606060; /*Borda do lado direito*/
    padding-right:15px; 
}
article#noticia-principal h2{
    font-size:13pt;
    color:#ffffff;
    background-color:#96c3ec;
    padding:5px 0px 5px 10px; /*regra: acima-direita-abaixo-esquerda*/
    margin:10px 0px 10px 0px; 
}
header#cabecalho-artigo h1{
    font-family:'FonteLogo', sans-serif;
    font-size:20pt;
    color:#606060;
    margin-bottom:0px;
    margin-top:0px; 
}
header#cabecalho-artigo h3.direita{
    color:#606060;
    text-align:right; 
}
header#cabecalho-artigo h2{
    font-size:13pt;
    color:#cecece;
    background-color:#96c3ec;;
    margin:0px; 
}
header#cabecalho-artigo h3{
    font-size:12px;
    color:#cecece;
}
table#tabelaspec{
    border:1px solid #606060;
    border-spacing:0px; /*Espaço entre as células*/
    margin-left:auto; 
    margin-right:auto;  
}
table#tabelaspec td{
    border:1px solid #606060; 
    padding:10px; 
    text-align:center; 
}
table#tabelaspec td.ce{
    color:white;
    background-color:#606060; 
    vertical-align:top; /*Define a posição vertical*/
    font-weight:bold; 
}
table#tabelaspec td.cd{
    background-color:#cecece; 
}
table#tabelaspec caption{
    color:#888888;
    font-size:13pt;
    font-weight:bolder;
}
table#tabelaspec caption span{
    display:block;
    float:right;
    color:#000000;
    font-size:8pt; 
    margin-top:10px; 
}
aside#lateral{
    display:block;
    width:350px;
    float:right; /*Flutuar á direita*/
    background-color:#dddddd; 
    padding:10px; 
    margin-top:10px; 
    box-shadow:2px 2px 2px rgba(0,0,0,.5); /*regra: deslocamento lateral-deslocamento vertical-espalhamento-cor*/
}
aside#lateral h1{
    font-family:'FonteLogo', sans-serif;
    font-size:20pt;
    color:#606060;
    margin-top:0px; 
}
aside#lateral h2{
    background-color:#606060;
    font-size:13pt;
    color:#ffffff; 
    padding:5px; 
}
footer#rodape{
    clear:both; /*Irá limpar as confg. dos dois lados*/
    border-top:1px solid #606060;        
}
footer#rodape p{
    text-align:center;
}
video#filme2{
    width: 350px;
    margin-top: -15px;
}
/*Configuração p/ tabelas*/
/*rowspan irá ocupar + de 1 linha, colspan irá ocupar + de 1 coluna e funciona somente para <td></td>*/

